
/* 
main body
=========
 */

html{
	background-color: rgb(253, 253, 253);
}

body{
	width:960px;
	margin: 0 auto;
	padding-top: 10px;
	font-family: arial, verdana, sans-serif;
	font-size:62.5%; /* changes the default to 10px*/
}

header{
	background: url("../images/header6_gradient1(inverted).png");
	/* 
	-moz-transform: scaleX(-1); this is really cool. It flips the element to which it is applied
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
 */
	position: relative;
	background-repeat: no-repeat;
	background-position: top 220px center;
	background-color: white;
	overflow: hidden;
}

article{
	width: 100%;
	background: linear-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
	/* margin:200px 0 0 0; */
}


/* 
social network icons
=================
 */

header ul li{
	list-style: none;
}

#facebook{
 height:42px;
 position:fixed;
 top:140px;
 left:-30px;
}

#google_plus{
 height:42px;;
 position:fixed;
 top:183px;
 left:-30px; 
}

#twitter{
 height:42px;
 position:fixed;
 top:226px;
 left:-31px;
}

#linkedin{
 height:42px;
 position:fixed;
 top:269px;
 left:-30px;
}

/* 
header elements
===============
 */


h1{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	display:none;
}

#image{
	position: absolute;
	top:5px;
	left:10px;
	width: 290px;
}

header p{
	text-align: right;
	margin-right:20px;
	margin-top:30px;
	float: right;
}

#signIn_signUp{
	margin-top: 10px;
	margin-right:0;
}

#register a{
	margin-right: 10px;
	margin-left: 12px;
	font-size:1em;
	text-decoration:none;
	background-color:rgb(237,155,67);
	border-radius:5px;
	padding: 12px 16px;
	color: white;
}

#register a:hover{
	background-color:rgb(233,153,55);
	color: white;
	text-shadow: 0 0 0 white;
}

#sign_in a{
	font-size:1em;
	text-decoration:none;
	color: #15619C;
	padding: 12px 16px;
	text-shadow: 0 0 0 #15619C;
	border-right: 1px solid black;
}

#sign_in a:hover{
	color:rgb(1,77,136);
	text-decoration: underline;
}


/* 
form register
========
 */
 
 #form_register{
 	position: fixed;
 	z-index: 10;
 	top: 80px;
 	right: 100px;
 	width: 300px;
 	height: 210px;
 	background-color:rgb(253,173,83);
 	color: #15619C;
 	border: 2px solid rgb(5,40,101);
	border-radius: 5px;
 }
 
 #btn_register{
 	margin-top:10px;
 }
 
 #register_submit{
 	font-size:0.8em;
	text-decoration:none;
	background-color: #15619C;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:5px;
	padding: 10px;
	color: rgb(245,245,245);
 }
 
#register_submit:hover{
  	background-color:rgb(11,87,146);
	color: white;
	box-shadow: 0 0 .5px #000;
	cursor: pointer;
}

#form_register_forgot{
	float:left;
	margin-left: 35px;
	margin-right:0;
	font-size:1.1em;
}

#form_register_forgot a{
	font-style: oblique;
	font-size: 1.2em;
	color:#15619C;
}

/* 
overlay
=======
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.6);
}

/* 
navigation
==========
 */
 
nav.row{
	 padding:0; 
	 margin-top: 48px;
	 float: left;
	 clear: both;
	 background: white;
	 width: 960px;
	 overflow:hidden;
}

nav ul{
	display: inline-block;
	min-height:10px;
	/* padding:23px 0 23px; */
	text-align: center;
	width: inherit;
	clear: both;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	border-top: 1px solid rgb(237,155,67);
	border-bottom: 1px solid rgb(237,155,67);
}

nav ul li{
	list-style: none;
	display: inline-block;
	text-align: center; 
	text-transform: uppercase;
	font-weight: bold; 
	float: left;
	line-height:1px;
	font-size: 1em;
}

nav ul li a{
	width:210px;
}

nav ul li:hover{
	background-color:rgba(237,155,67,.8);
}

 nav ul li a{
	text-decoration: none;
	color: #15619C;
	display: inline-block;
	height: 46px;
	line-height:46px;
}

nav ul li:hover a{
	color:rgb(245,245,245);
}

/* 
font styles/sizes
=================
 */
 

h1{
	font-size: 2.6em;
}

h2{
	font-size:2.2em;
	margin:0;
	padding:0;
}

h3{
	font-size:1.8em;
	margin-top:0;
}

p{
	font-size: 1.6em;
}


/* 
article
=======
 */

article{
	overflow: hidden;
}

 
/* 
form styles
===========
 */
 
 form{
 	margin-left: 205px;
 	min-height: 50px;
 	overflow:hidden;
 }
 
#sign_up_header{
	 color: #15619C;
	 font-size: 3em;
	 width: 480px;
	 margin: 40px auto 20px;
	 text-align: center;
}


#login_info{
	border-radius: 5px;
	overflow: hidden;
	width:460px;
	padding-bottom: 10px;
	color: #15619C;
}
 
input{
	height: 25px;
	width: 300px;
	border: 1px solid rgb(5,40,101);
}

input:focus{
	background:rgba(21,97,156, .1);
}

#login_info .main_paragraphs{
	width: 140px;
	font-size: 1.8em;
	margin-top: 10px;
}

label{
	margin-top: 15px;
	margin-bottom: 5px;
}
 
.red{
 	color: red;
 }
 
 #checkbox_terms{
 	float: left;
 	clear: both;
 	line-height: 25px;
 	margin-bottom:10px;
 }
 
 #terms_checkbox{
 	width: 20px;
 	margin-bottom:0;
 	margin-right:10px;
 	float: left;
 }
  
 #terms_checkbox + label{
 	margin-top: 0;
 	padding-bottom: 5px;
 	line-height: 10px;
 }
 
  #terms_checkbox + label a{
  	text-decoration: none;
  	color: #15619C;
  }
 
/*  =============== */

 #newsletter_terms{
 	float: left;
 	clear: both;
 	line-height: 25px;
 	margin-top: 0;
 	margin-bottom:30px;
 }
 
 #newsletter_checkbox{
 	width: 20px;
 	margin-bottom:0;
 	margin-right:10px;
 	float: left;
 }
  
 #newsletter_checkbox + label{
 	margin-top: 0;
 	padding-bottom: 5px;
 	line-height: 10px;
 }
 

/* 
===================
 
 */
 
 #btn{
 	margin: 0 auto;
 	width: 480px;
 }
 
 #form_submit{
 	font-size: 2em;
 	font-weight: bold;
 	width: 190px;
 	height: 80px;
 	background-color:rgb(237,155,67);
	color: rgb(245,245,255);
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	display:block;
	margin: 0 auto;
	border: none;
	clear: both;
 }
 
 #form_submit:hover{
 	background-color:rgb(233,153,55);
	color: white;
	cursor: pointer;
 }



/* 
footer
======
 */

footer.row{
	width: 960px;
	text-align: left;
	padding-top: 15px;
	clear:both;
	color:#0C6298;
	clear:both;
	border-top: 1px solid rgba(11,87,146, .3);;
	margin-top: 20px;
}
 
footer p{
	clear: both;
	padding-top: 5px;
	margin-top: 0px;
	color:#0C6298;
}

p#copyright{
	text-align: center;
	background:linear-gradient(rgb(12,98,152),rgb(2,88,142) );
	color:rgb(245,245,245);
	padding: 10px 0;
	margin-bottom:0;
	font-size: 1.4em;
}

#faq{
	padding-left: 0;
	padding-right: 30px;
}

#social_networks{
	padding-left: 30px;
	padding-right: 30px;
}

#contact_us{
	padding-left: 30px;
	padding-right: 30px;
}

#terms{
	padding-left: 30px;
	padding-right: 0;
}

#faq h3, #links h3, #social_networks h3, #contact_us h3, #terms h3 {
	/* color:#0C6298; */
	color:rgb(237,155,67);
	padding-bottom: 5px;
	margin-bottom:0;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	color: black;
}









