
/* 
main body
=========
 */

html{
	background-color: rgb(253, 253, 253);
}

body{
	width:960px;
	margin: 0 auto;
	padding-top: 10px;
	font-family: arial, verdana, sans-serif;
	font-size:62.5%; /* changes the default to 10px*/
}



