/* mixins with arguments */
/* mixin with arguments 2 */
/* this variable uses some built-in sass color properties */
/* if statement */
/*  this is a boolean */
/* the variable has the value "true" implied, meaning $black_moon is true, thus the first color will be applied */
/* 
we could also write it like this:
$black_moon: yes;
$black-moon-color: if($black_moon=="yes", #000, #fff);
 */
body {
  position: relative;
  width: 100%;
  max-width: 1276px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
  background: black; }

/* upper part */
#sky_high {
  background: black;
  height: 200px;
  width: 100%;
  margin-left: 0;
  margin-bottom: 30px; }

#moon {
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 150px;
  /* 	@include linearGradient(white, rgb(150,150,150)); */
  background: radial-gradient(white, #e6e6e6, #bfbfbf);
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 50%; }

#moon_glow {
  border-color: transparent transparent transparent white; }

#moon_two {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  background: white;
  box-shadow: 0 0 10px white;
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 50%; }

#black_moon {
  position: absolute;
  z-index: 3;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 140px;
  border-radius: 50%;
  background: black; }

.outer_small_star {
  width: 6px;
  height: 6px; }

.outer_medium_star {
  width: 8px;
  height: 8px; }

.outer_large_star {
  width: 10px;
  height: 10px; }

.small_stars, .medium_stars, .large_stars {
  position: absolute;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 8px white; }

.small_stars {
  width: 2px;
  height: 2px;
  left: 650px;
  top: 90px; }

.medium_stars {
  width: 4px;
  height: 4px;
  left: 500px;
  top: 40px; }

.large_stars {
  width: 6px;
  height: 6px;
  left: 900px;
  top: 80px; }

#sky_high div:nth-child(4) {
  position: absolute;
  left: 400px;
  top: 100px; }

#sky_high div:nth-child(5) {
  position: absolute;
  left: 10px;
  top: 30px; }

#sky_high div:nth-child(6) {
  position: absolute;
  left: -600px;
  top: 0px; }

#sky_high div:nth-child(7) {
  position: absolute;
  left: 450px;
  top: 60px; }

#sky_high div:nth-child(8) {
  position: absolute;
  left: 300px;
  top: 170px; }

#sky_high div:nth-child(9) {
  position: absolute;
  left: -230px;
  top: 120px;
  z-index: 3;
  border-radius: 5px; }

#sky_high div:nth-child(10) {
  position: absolute;
  left: 400px;
  top: 250px;
  z-index: 3; }

#sky_high div:nth-child(11) {
  position: absolute;
  left: -100px;
  top: 130px; }

#sky_high div:nth-child(13) {
  position: absolute;
  left: 550px;
  top: -10px; }

#sky_high div:nth-child(14) {
  position: absolute;
  left: -100px;
  top: 50px; }

#sky_high div:nth-child(15) {
  position: absolute;
  left: 0px;
  top: 0px; }


/* lower part */
#sky_low {
  background: -moz-linear-gradient(black, #3c3c3c);
  background: -webkit-linear-gradient(black, #3c3c3c);
  background: -o-linear-gradient(black, #3c3c3c);
  background: linear-gradient(black, #3c3c3c);
  height: 400px;
  position: relative; }

#sky_low div.small_stars:nth-child(1) {
  position: absolute;
  left: 200px;
  top: 50px; }

/* buildings */

#building1 {
  width: 100px;
  height: 250px;
  position: absolute;
  background: black;
  top: 150px; }

#building2 {
  width: 120px;
  height: 180px;
  position: absolute;
  background: black;
  left: 100px;
  top: 220px; }

#building3 {
  width: 110px;
  height: 165px;
  position: absolute;
  background: black;
  margin-left: 220px;
  margin-top: 235px; }

#building4 {
  width: 150px;
  height: 290px;
  position: absolute;
  background: black;
  margin-left: 330px;
  margin-top: 110px; }

#building5 {
  width: 160px;
  height: 215px;
  position: absolute;
  background: black;
  margin-left: 480px;
  margin-top: 185px; }

#building6 {
  width: 145px;
  height: 360px;
  position: absolute;
  background: black;
  margin-left: 640px;
  margin-top: 40px; }

#building7 {
  width: 130px;
  height: 250px;
  position: absolute;
  background: black;
  margin-left: 785px;
  margin-top: 150px; }

#building8 {
  width: 180px;
  height: 160px;
  position: absolute;
  background: black;
  margin-left: 895px;
  margin-top: 240px; }

#building9 {
  width: 110px;
  height: 200px;
  position: absolute;
  background: black;
  margin-left: 1075px;
  margin-top: 200px; }

#building10 {
  width: 90px;
  height: 250px;
  position: absolute;
  background: black;
  margin-left: 1185px;
  margin-top: 150px; }

/* windows */

.windows1{
	float: left;
	margin-left: 12px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows1:nth-child(1), div.windows1:nth-child(2),div.windows1:nth-child(6),div.windows1:nth-child(12), div.windows1:nth-child(14) {
	background: black;
}

.windows2{
	float: left;
	margin-right: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows2:nth-child(4),div.windows2:nth-child(5),div.windows2:nth-child(11),div.windows2:nth-child(12),div.windows2:nth-child(15),div.windows2:nth-child(15) {
	background: black;
}


.windows3{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows3:nth-child(odd){
	margin-left: 35px;
}

div.windows3:nth-child(1),div.windows3:nth-child(3),div.windows3:nth-child(5),div.windows3:nth-child(7),div.windows3:nth-child(9){
	background:black;
}


div.windows3:nth-child(odd){
	margin-left: 35px;
}

.windows4{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows4:nth-child(1),div.windows4:nth-child(2),div.windows4:nth-child(3),div.windows4:nth-child(4),div.windows4:nth-child(5),div.windows4:nth-child(6), div.windows4:nth-child(10),div.windows4:nth-child(11), div.windows4:nth-child(16), div.windows4:nth-child(17),div.windows4:nth-child(19),div.windows4:nth-child(20){
	background:black;
}

.windows5{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows5:nth-child(1),div.windows5:nth-child(2),div.windows5:nth-child(3),div.windows5:nth-child(4),div.windows5:nth-child(10),div.windows5:nth-child(11),div.windows5:nth-child(12),div.windows5:nth-child(14),div.windows5:nth-child(15),div.windows5:nth-child(16),div.windows5:nth-child(18),div.windows5:nth-child(19),div.windows5:nth-child(20){
	background:black;
}

.windows6{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows6:nth-child(1), div.windows6:nth-child(2), div.windows6:nth-child(3), div.windows6:nth-child(4), div.windows6:nth-child(5), div.windows6:nth-child(6), div.windows6:nth-child(7), div.windows6:nth-child(8), div.windows6:nth-child(9), div.windows6:nth-child(12), div.windows6:nth-child(15),div.windows6:nth-child(21), div.windows6:nth-child(24){
		background: black
}

.windows7{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows7:nth-child(3n),div.windows7:nth-child(1),div.windows7:nth-child(2) {
	background:black;
}

.windows8{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows8:nth-child(1), div.windows8:nth-child(2), div.windows8:nth-child(3), div.windows8:nth-child(4){
	margin-top: 15px;
}

div.windows8:nth-child(6),div.windows8:nth-child(7),div.windows8:nth-child(8),div.windows8:nth-child(14),div.windows8:nth-child(15),div.windows8:nth-child(16){
	background: black;
}

.windows9{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

.windows10{
	float: left;
	margin-left: 10px; 
	margin-top: 20px;
	background: yellow; 
	width:30px;
	height:30px;
}

div.windows10:nth-child(1), div.windows10:nth-child(2), div.windows10:nth-child(3), div.windows10:nth-child(4), div.windows10:nth-child(5), div.windows10:nth-child(6), div.windows10:nth-child(7), div.windows10:nth-child(8), div.windows10:nth-child(9), div.windows10:nth-child(10){
	background: black;
}
